@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------- Common CSS that is used in multiple components ------- */

/* Text */
.blockTopText {
    font-family: 'Almarai';
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}
.blockHeaderTextLG {
    font-family: 'Archivo Black';
    font-weight: 400;
    font-size: calc(24px + 4vw);
    line-height: calc(24px + 4vw);
}
.blockHeaderText {
    font-family: 'Almarai';
    font-weight: 700;
    font-size: calc(28px + 1.5vw);
    line-height: calc(28px + 1.5vw);
}
.pinkText {
    color: #ec25a0;
}
.blueText {
    color: #36bee1;
}
.darkText {
    color: #120227;
}
.yellowText {
    color: #F5D33D;
}
p {
    color: #FFFFFF;
    font-family: 'Almarai';
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
}

/* Background colors */
.pink {
    border-color: #ec25a0;
    background-color: #ec25a0;
}
.blue {
    border-color: #36bee1;
    background-color: #36bee1;
}
.dark {
    border-color: #120227;
    background-color: #120227;
}
.yellow {
    border-color: #F5D33D;
    background-color: #F5D33D;
}

/* Lines */
.dot {
    height: 8px;
    width: 8px;
    border-radius: 50%;
}
.diamond {
    height: 8px;
    width: 8px;
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
}

/* Other */
