@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------- Common CSS that is used in multiple components ------- */

/* Text */
.yellowTextBlockTop {
    color: #F5D33D;
    font-family: 'Almarai';
    font-weight: 400;
    font-size: 24px;
}
.yellowTextBlockHeader {
    color: #F5D33D;
    font-family: 'Almarai';
    font-weight: 700;
    font-size: calc(32px + 1.5vw);
    line-height: calc(32px + 1.5vw);
}
.blueText {
    color: #36bee1;
}
p {
    color: #FFFFFF;
    font-family: 'Almarai';
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
}

/* Background colors */
.pink {
    border-color: #ec25a0;
    background-color: #ec25a0;
}
.blue {
    border-color: #36bee1;
    background-color: #36bee1;
}
.dark {
    border-color: #120227;
    background-color: #120227;
}
.yellow {
    border-color: #F5D33D;
    background-color: #F5D33D;
}

/* Lines */
.dot {
    height: 16px;
    width: 16px;
    border-radius: 50%;
}
.diamond {
    height: 16px;
    width: 16px;
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
}

/* Other */
